* {
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
}

p.small {
    font-size: 11px;
    margin-bottom: 15px;
}

pre.console {
    border: 1px solid lightgray;
    float: left;
    width: 300px;
}

pre.console ul {
    list-style-type: none;
    padding: 20px;
}

pre.console ul li {
    padding: 3px 5px 3px 5px;
}